.wrapper{
  grid-template-columns: repeat(auto-fill,minmax(105px,1fr));
  display: grid;
  row-gap: 20px;
  justify-items: center;
  
}

header{
  font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 1.7rem;
letter-spacing: 0.93px;


background-color:  #2C2C2C;
color: white;
}

.header_name{
  grid-column: 4 / span 2;
  grid-row: 4;
  font-weight: bold;
}

.ux_designer{
  grid-column: 4 / span 3;
  grid-row: 5;
  font-weight: bold;
  

  letter-spacing: 1.05px;
background: linear-gradient(180deg, #01DCBA 23.63%, #7F30CB 140.02%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.photo{
  grid-column: 2 / span 2;
  grid-row: 3 / span 9;
  max-height: 224px;
  border-radius: 50%;
  overflow: hidden;
}

.contacts_phone {
  grid-column: 7;
  grid-row: 4;
}

.contacts_phone_number {
  position: relative;
  right: 10%;
  grid-column: 8 / span 2;
  grid-row: 4;
  justify-self: start;
}

.contacts_email{
  grid-column: 7;
  grid-row: 5;
}

.contacts_email_name{
  grid-column: 7/ span 4;
  grid-row: 5;
}

.twitter_icon{
  grid-column: 10 / span 2;
  grid-row: 4;
}

.linkedIn_icon{
  grid-column: 11 / span 2;
  grid-row: 4;
}

.github_icon{
  grid-column: 12 / span 2;
  grid-row: 4;
}

.border_twitter{
  grid-column: 10 / span 2;
  grid-row: 5;
  border: 1.5px solid #4B78C4;
  height: 30px;
}

.border_linkedIn{
  grid-column: 11/ span 2;
  grid-row: 5;
  border: 1.5px solid #4B78C4;
  height: 30px
}

.border_github{
  grid-column: 12/ span 2;
  grid-row: 5;
  border: 1.5px solid #4B78C4;
  height: 30px
}

.social_name{
  grid-column: 11 / span 2;
  grid-row: 6;
}

.profile{
  font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 2.5em;
letter-spacing: 0.93px;

}

.profile_icon{
  grid-column: 2;
  grid-row: 4;
}

.profile_title{
  justify-self: start;
  grid-column: 3;
  grid-row: 4;
  color: #4B76C4;
}

.profile_border{
  position: relative;
  top: 35%;
  grid-column: 3 / span 15;
  grid-row: 4;
  max-height: 0.5px;
  width: 70rem;

  border: 1.5px solid #4B78C4;
}

.profile_description{
  font-style: normal;
  grid-column: 2 / span 17;
  grid-row: 5 / span 4;
  font-weight: normal;
  font-size: 2rem;
}

.skills{
  font-family: Fira Sans;
font-style: normal;
font-weight: bold;
font-size: 2.5em;
letter-spacing: 0.93px;
}

.skills3{
  grid-template-columns: subgrid;
  display: grid;
  row-gap: 20px;
  justify-items: center;
  grid-column: 1 / span 9;
  grid-row: 1 / span 4;
  
}

.main_skills_icon{
  grid-column: 2;
  grid-row: 2;

}

.main_skills_title{
  justify-self: start;
  grid-column: 3 / span 5;
  grid-row: 2;
  color: #4B76C4;
}

.main_skills_line {
  position: relative;
  top: 40%;
  grid-column: 4 / span 5;
  grid-row: 2;
  max-height: 0.25px;
  width: 12rem;


  border: 1.5px solid #4B78C4;
}

.main_skills_dots{
  grid-column: 2;
  grid-row: 5 / span 18;
}

.main_skills_desc{
  position: relative;
  bottom: 5%;
  justify-self: start;
  font-weight: normal;
  grid-column: 3 / span 6;
  grid-row: 5 / span 18;
  line-height: 100px;
  font-size: 2rem;
}

.skills2{
  grid-template-columns: subgrid;
  display: grid;
  row-gap: 20px;
  justify-items: center;
  grid-column: 8 / span 9;
  grid-row: 1 / span 1;
}

.lang_skills_line {
  position: relative;
  top: 30%;
  grid-column: 6 / span 6;
  grid-row: 2;
  max-height: 0.25px;
  width: 12rem;

  border: 1.5px solid #4B78C4;
}

.work{
  font-family: Fira Sans;
font-style: normal;
font-weight: normal;
font-size: 1.7rem;
letter-spacing: 0.93px;
}

.work_icon{
  grid-column: 2;
  grid-row: 2;
}

.work_title{
  justify-self: start;
  grid-column: 3 / span 4;
  grid-row: 2;
  color: #4B76C4;
  font-size: 2.6rem;
}

.work_line{
  position: relative;
  top: 40%;
  grid-column: 10 / span 2;
  grid-row: 2;
  max-height: 0.05px;
  width: 60rem;

  border: 1.5px solid #4B78C4;
}

.work_date{
  grid-column: 2 / span 4;
  grid-row: 3;
  line-height: 50px;
  justify-self: center;
}

.work_desc{
  grid-column: 7 / span 3;
  grid-row: 3;
  color: #4B76C4;
  font-size: 2.3rem;
  justify-self: start;

}

.work_circle{
  grid-column: 6;
  grid-row: 3 / span 13;

}

.work_border{
  position: relative;
  top: 1.6%;
  grid-column: 6;
  grid-row: 4 / span 2;
  max-height: 100%;
}

.work_desc2{
  grid-column: 7 / span 8;
  grid-row: 4;
  line-height: 220%;

}

.work_dots{
  position: relative;
  left: 70%;
  grid-column: 6;
  grid-row: 5 / span 10;
}

.work_main{
  position: relative;
  bottom: 10%;
  right: 5%;
  grid-column: 6 / span 7;
  grid-row: 5 / span 7;
  line-height: 90px;
}

.work_dots_right{
  position: relative;
  left: 70%;
  grid-column: 10;
  grid-row: 5 / span 10;
}

.work_main_right{
  position: relative;
  bottom: 10%;
  left: 3%;
  grid-column: 10 / span 7;
  grid-row: 5 / span 7;
  line-height: 90px;
}

.train{
    font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.93px;
  font-size: 2.5rem;
}

.train_line{
  position: relative;
  top: 30%;
  grid-column: 6 / span 6;
  grid-row: 2;
  max-height: 0.25px;
  width: 12rem;

  border: 1.5px solid #4B78C4;
}

.train_desc{
  position: relative;
  bottom: 5%;
  justify-self: start;
  font-weight: normal;
  grid-column: 3 / span 7;
  grid-row: 5 / span 12;
  line-height: 100px;
  font-size: 2rem;
}

.train_line_right{
  position: relative;
  top: 40%;
  grid-column: 6 / span 4;
  grid-row: 2;
  max-height: 0.25px;
  width: 12rem;

  border: 1.5px solid #4B78C4;

}

@media (max-width: 1607px){
  .work_dots_right {grid-column: 6; grid-row: 12 / span 7;}
  .work_main_right {grid-column: 6 / span 7; grid-row: 12 / span 7; left: 0%;}
  .profile_border {width: 60rem; grid-column: 4 / span 10;}
}

@media (max-width: 1508px){
  .work_desc2 {justify-self: start;}
}

@media (max-width:1392px){
  header {font-size: 1.5em;}
  .contacts_email_name {justify-self: center; grid-column: 7 / span 3; position: relative; left: 9%;}
  .twitter_icon {grid-column: 4 / span 3; grid-row: 10;}
  .linkedIn_icon {grid-column: 5 / span 3; grid-row: 10;}
  .github_icon {grid-column: 6 / span 3; grid-row: 10;}
  .border_twitter{grid-column: 5; grid-row: 11;}
  .border_linkedIn{grid-column: 6; grid-row: 11;}
  .border_github{grid-column: 7; grid-row: 11;}
  .social_name{grid-column: 5 / span 3; grid-row: 12;}
  .skills2 {grid-column: 6 / span 9;}
  .profile_border {width: 50rem;}
}

@media (max-width: 1293px){
  .train_desc {font-size: 1.7rem}
}

@media (max-width: 1170px){
  .work_main, .work_main_right {grid-column: 7 / span 7;}
  .train_desc, .work, .main_skills_desc, .profile_description {font-size: 1.2rem;}
  .train, .work_title, .profile {font-size: 1.8rem;}
  .work_line {border: 0px;}
  .work_icon {grid-column: 4;}
  .work_title {grid-column: 5;}
  .work_date {grid-column: 1 / span 3;}
  .work_circle {grid-column: 4;}
  .work_desc {grid-column: 5 / span 3; font-size: 1.7rem;}
  .work_desc2 {grid-column: 5 / span 4; grid-row: 4 / span 3;}
  .work_dots {grid-column: 4; left: 0; grid-row: 8;}
  .work_main {grid-column: 5 / span 2; grid-row: 8;}
  .work_dots_right {grid-column: 4; grid-row: 11; left: 0;}
  .work_main_right {grid-column: 5 / span 3; grid-row: 11; justify-self: start;}
}

@media (max-width: 1066px){
  .skills3{ grid-column: 3 / span 5; grid-row: 1 / span 10;}
  .skills2{ grid-column: 3 / span 5; grid-row: 11;}
}

@media (max-width:961px){
  .photo {max-height: 80%; max-width: 88%; grid-row: 2 / span 9;}
  .contacts_phone{grid-column: 3; grid-row: 15;}
  .contacts_phone_number{grid-column: 4 / 6; grid-row: 15; justify-self: center; position: relative; right: 4%;}
  .contacts_email_name{grid-column: 4 / 6; grid-row: 16;}
  .contacts_email{grid-column: 3; grid-row: 16;}
  .twitter_icon {grid-column: 3;}
  .linkedIn_icon {grid-column: 4;}
  .github_icon {grid-column: 5;}
  .border_github {grid-column: 3;}
  .border_linkedIn {grid-column: 4;}
  .border_twitter {grid-column: 5;}
  .social_name {grid-column: 4;}
  .profile_border {border: 0px;}
  .profile_icon {grid-column: 4;}
  .profile_title {grid-column: 5;}
}


@media (max-width: 540px){
  .wrapper{justify-items: start; grid-template-columns: repeat(auto-fill, minmax(70px,1fr));}
  .photo {grid-column: 1 / span 10; max-height: 55%; max-width: 40%;}
  .ux_designer, .header_name {grid-column: 4 / span 2; justify-self: start;}
  .contacts_email_name {justify-self: end; grid-column: 6 / span 3; position: relative; left: 9%;}
  .twitter_icon {grid-column: 2; grid-row: 8;}
  .linkedIn_icon {grid-column: 4; grid-row: 8;}
  .github_icon {grid-column: 6; grid-row: 8;}
  .border_twitter{grid-column: 2; grid-row: 9; position: relative; left: 30%}
  .border_linkedIn{grid-column: 4; grid-row: 9; position: relative; left: 30%}
  .border_github{grid-column: 6; grid-row: 9; position: relative; left: 30%}
  .social_name{grid-column: 3 / span 3; grid-row: 10; justify-self: center;}
  .contacts_phone{grid-column: 2; grid-row: 11;}
  .contacts_phone_number{grid-column: 3 / span 3; grid-row: 11; position: relative; left: 3%}
  .contacts_email_name{grid-column: 3 / span 3; grid-row: 12; position: relative; right: 15%}
  .contacts_email{grid-column: 2; grid-row: 12;}
  .profile_icon {grid-column: 3;}
  .profile_title {grid-column: 4;}
  .skills3, .skills2 {grid-column: 1/ span 6;}
  .main_skills_icon {grid-column: 3;}
  .main_skills_title {grid-column: 4/ span 4; font-size: 1.8rem;}
  .main_skills_dots {grid-column: 1;}
  .main_skills_desc {grid-column: 2/ span 5;}
  .work_icon {grid-column: 3;}
  .work_title {grid-column: 4;}
  .work_desc2 {grid-column: 4/ span 3;}
  .train_desc {grid-column: 2/ span 4;}

}

@media (max-width: 480px){
  .wrapper{justify-items: start; grid-template-columns: repeat(auto-fill, minmax(35px,1fr));}
  header {font-size: 1.2rem;}
  .photo {grid-column: 1 /span 11; max-height: 50%; max-width: 45%;}
  .ux_designer, .header_name {grid-column: 6 / span 2; justify-self: start;}
  .twitter_icon {grid-column: 3; grid-row: 8;}
  .linkedIn_icon {grid-column: 5; grid-row: 8;}
  .github_icon {grid-column: 7; grid-row: 8;}
  .border_twitter{grid-column: 3; grid-row: 9; position: relative; left: 30%}
  .border_linkedIn{grid-column: 5; grid-row: 9; position: relative; left: 30%}
  .border_github{grid-column: 7; grid-row: 9; position: relative; left: 30%}
  .social_name{grid-column: 4 / span 3; grid-row: 10; justify-self: center;}
  .contacts_phone{grid-column: 3; grid-row: 11;}
  .contacts_phone_number{grid-column: 4 / span 4; grid-row: 11; position: relative; left: 3%}
  .contacts_email_name{grid-column: 6 / span 3; grid-row: 12;}
  .contacts_email{grid-column: 3; grid-row: 12;}
  .profile_icon {grid-column: 2;}
  .profile_title {grid-column: 4;}
  .profile_description {font-size: 0.9rem;}
  .skills3, .skills2 {grid-column: 1/ span 10;}
  .main_skills_icon {grid-column: 2;}
  .main_skills_title {grid-column: 4/ span 5;}
  .main_skills_desc {grid-column: 3/ span 6; font-size: 0.9rem;}
  .work {font-size: 0.9rem;}
  .work_icon {grid-column: 1;}
  .work_title {grid-column: 3;}
  .work_date {grid-column: 2 / span 5;}
  .work_circle {grid-column: 1; grid-row: 4;}
  .work_desc {grid-column: 3 / span 6; grid-row: 4;}
  .work_desc2 {grid-column: 2/ span 6; grid-row: 5;}
  .train_desc {grid-column: 2/ span 4;}
  .work_dots, .work_dots_right {grid-column: 1;}
  .work_main {grid-column: 3 / span 5;}
  .work_main_right {grid-column: 3 / span 8;}
  .train_desc {grid-column: 3 / span 9; font-size: 0.9rem;}

}

@media (max-width: 350px){
  .wrapper{justify-items: start; grid-template-columns: repeat(auto-fill, minmax(25px,1fr));}
  .twitter_icon {grid-column: 2; grid-row: 8;}
  .linkedIn_icon {grid-column: 5; grid-row: 8;}
  .github_icon {grid-column: 8; grid-row: 8;}
  .border_twitter{grid-column: 2; grid-row: 9; position: relative; left: 30%}
  .border_linkedIn{grid-column: 5; grid-row: 9; position: relative; left: 30%}
  .border_github{grid-column: 8; grid-row: 9; position: relative; left: 30%}
  .social_name{grid-column: 5 / span 3; grid-row: 10; justify-self: center;}
  .contacts_phone{grid-column: 2; grid-row: 11;}
  .contacts_phone_number{grid-column: 4 / span 4; grid-row: 11; position: relative; left: 3%}
  .contacts_email_name{grid-column: 8 / span 3; grid-row: 12;}
  .contacts_email{grid-column: 2; grid-row: 12;}
  .main_skills_desc {grid-column: 2/ span 9; font-size: 1rem; justify-self: center;}
  .work_title {grid-column: 4;}
  .work_main {grid-column: 3 / span 9;}
  .work_desc2 {grid-column: 2 / span 10;}
  .skills2 {grid-column: 1/span 12;}
  .train_desc {grid-column: 2 / span 11; font-size: 0.9rem; justify-self: center;}
}

@media (max-width: 295px){
  .wrapper{justify-items: start; grid-template-columns: repeat(auto-fill, minmax(20px,1fr));}
  header {font-size: 0.7rem;}
  .photo {grid-column: 1 /span 10; max-height: 40%; max-width: 55%;}
  .header_name {grid-column: 7 / span 2; justify-self: start;}
  .ux_designer {grid-row: 7; grid-column: 3/ span 10;}
  .twitter_icon {grid-column: 2; grid-row: 8;}
  .linkedIn_icon {grid-column: 5; grid-row: 8;}
  .github_icon {grid-column: 8; grid-row: 8;}
  .border_twitter{grid-column: 3; grid-row: 9;}
  .border_linkedIn{grid-column: 6; grid-row: 9;}
  .border_github{grid-column: 9; grid-row: 9;}
  .social_name{grid-column: 5 / span 3; grid-row: 10; justify-self: center;}
  .contacts_phone{grid-column: 2; grid-row: 11;}
  .contacts_phone_number{grid-column: 4 / span 5; grid-row: 11/span 1; position: relative; left: 3%; top: 30%;}
  .contacts_email_name{grid-column: 7 / span 3; grid-row: 12;position: relative;}
  .contacts_email{grid-column: 2; grid-row: 12;}
  .profile {font-size: 1.3rem;}
  .profile_title {grid-column: 5; position: relative; top: 20%}
  .profile_description {font-size: 0.7rem;}
  .main_skills_title {font-size: 1.3rem; grid-column: 4 / span 9; position: relative; top: 20%;}
  .main_skills_desc {grid-column: 3/ span 9; font-size: 0.7rem;}
  .work {font-size: 0.7rem;}
  .work_title {font-size: 1.2rem; grid-column: 5;}
  .work_desc {font-size: 1.2rem; grid-column: 4;}
  .work_desc2 {grid-column: 2 / span 9;}
  .work_main {grid-column: 4/ span 9;}
  .main_skills_title {font-size: 1.2rem;}
  .train_desc {font-size: 0.55rem; grid-column: 3/ span 12; position: relative; right: 5%}
  
}

